.container {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    text-align: center;
}

.item {
    padding: 15px;
    margin: 2px;
    background-color: #F3EBFE;
}