.city {
    background-color: lavenderBlush;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
}

body {
    text-align: center;
    font-size: 17px;
    color: midnightBlue;
}

.comparison {
    background-color: blueViolet;
    color: white;
}