body {
    text-align: center;
    background-color: lightBlue;
}

h3 {
    font-family: Courier New;
    transform: rotate(-8deg);
    font-style: italic;
}

img {
    border-radius: 150px;
    transform: rotate(15deg);
}