.container {
    height: 280px;
    width: 300px;
    background-color: lightBlue;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    margin: 5px;
}